:root {
  --dark-color: rgba(18, 23, 61, 0.4);
  --medium-color: rgba(47, 20, 143, 0.2);
  --light-color: rgba(234, 143, 252, 0.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
  min-height: 100vh;
  background-color: #42455a;
  font-family: 'Lato', sans-serif;
  font-size: 100%;
  line-height: 1.7;
  padding: 32px;
}

.btndiv {
  text-align: center;
}

.header {
  height: 95vh;
  background-image: linear-gradient(to bottom right, var(--dark-color), var(--light-color)), url('../img/pic.jpg');
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 62%, 0% 100%);
}

.logo-box {
  position: relative;
  top: 1.7%;
  left: 0.9%;
}

.logo {
  height: 32px;
}

.text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
}

.heading-primary-main {
  display: block;
  font-size: 4.2vw;
  letter-spacing: 24px;
  text-align: center;
  animation: moveInLeft 3s ease-out;
}

.heading-primary-sub {
  display: block;
  font-size: 1.7vw;
  letter-spacing: 14.4px;
  text-align: center;
  animation: moveInRight 3s ease-out;
}

.btn {
  display: inline-block;
  position: relative;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  height: 9vh;
  width: 14vw;
  margin: 25px 0;
  padding: 25px 30px;
  font-size: 1.27vw;
  transition: 0.5s;
  letter-spacing: 4px;
  text-transform: uppercase;
  /*border: 3px solid #ffffff;*/
  overflow: hidden;
  -webkit-box-reflect: below 2px linear-gradient(transparent, #0005);
}

.btn:nth-child(1) {
  filter: hue-rotate(145deg);
}

.btn:nth-child(3) {
  filter: hue-rotate(185deg);
}

.btn:hover {
  background: #1aeaf4;
  color: #050801;
  box-shadow: 0 0 10px #1aeaf4,
    0 0 30px #1aeaf4,
    0 0 60px #1aeaf4,
    0 0 200px #1aeaf4;
}

.btn span {
  position: absolute;
  display: block;
}

.btn span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #1aeaf4);
  animation: animate1 1s linear infinite;
}

@keyframes animate1 {
  0% {
    left: -100%;
  }

  50%, 100% {
    left: 100%;
  }
}

.btn span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #1aeaf4);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes animate2 {
  0% {
    top: -100%;
  }

  50%, 100% {
    top: 100%;
  }
}

.btn span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #1aeaf4);
  animation: animate3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes animate3 {
  0% {
    right: -100%;
  }

  50%, 100% {
    right: 100%;
  }
}

.btn span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #1aeaf4);
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes animate4 {
  0% {
    bottom: -100%;
  }

  50%, 100% {
    bottom: 100%;
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0)
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@viewport {
  width: device-width;
  zoom: 1.0;
}

@-webkit-viewport {
  width: device-width;
}
